@font-face {
  font-family: 'f1'; 
  src: url('fonts/AvenirLight.otf') format('f11'),
       url('fonts/AvenirLight.otf') format('f12');
}

@font-face {
  font-family: 'futura'; 
  src: url('fonts/futura-light/FuturaLight.ttf') format('fut1'),
       url('fonts/futura-light/FuturaSCTOTLight.ttf') format('fut2');
}


body {
  display: flex;
  justify-content: center;
  background: rgb(148, 214, 226);
  background: radial-gradient(
    circle,
    rgba(148, 214, 226, 1) 41%,
    rgba(199, 216, 219, 1) 66%,
    rgba(199, 216, 219, 1) 75%
  );
}

.form {
  width: 80vw;
  margin-top: 20px;
  border: 2px solid rgba(247, 247, 203, 0.133);
  background: #fff;
  border-radius: 10px;
}

.map-page {
  width: auto;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  background-color: whitesmoke;
}

p{
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.details{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  background-color: whitesmoke;
}

.col{
  max-width: 210px;
  overflow: hidden;
}

body {
  font-family: 'f1', sans-serif; 
}

h1,h2 {
  font-family: 'f1', sans-serif; 
}


.desc{
 font-family: 'futura', sans-serif;
 font-size: 0.65em;
 font-weight: bold;
}

.city{
  font-family: 'futura', sans-serif;
  font-size:small;
  font-weight: bold;
}

.cord{
  font-family: 'futura', sans-serif;
  font-size: medium;
  font-style: italic;
  font-weight: 50;
}

#currentDate{
  font-family: 'futura', sans-serif;
  font-size: 0.8em;
  font-weight: 600;
}